*{
    margin: 0;padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: bisque;

}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 50vh;
    min-width: 30vw;
}

form{
    margin: 2rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
}

.dropdowns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.8rem;
    
}
.dropdowns i{
    margin-top: 1rem;
    font-size: medium;
}

.selector img{
    max-width: 2rem;
}
.selector{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    border: 1px solid lightgrey;
    width: 6rem;
}
.selector select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 ;
}

form button{
    height: 2rem;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}